<ion-toolbar color="accent">
    <ion-buttons start>
        <button ion-button icon-only color="primary" start menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
</ion-toolbar>
<div>
    <ion-item color="accent">
        <ion-label>Automovil</ion-label>
        <ion-select [(ngModel)]="currentAuto.id" (ngModelChange)="changeAutoSelected($event)" interface="action-sheet">
            <ion-option *ngFor="let auto of autoList" [value]="auto.id">{{ auto.brand }} {{ auto.model }} </ion-option>
        </ion-select>
    </ion-item>
</div>