// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
.elevation-1 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.bottom-content {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 5;
}

.rs-card {
    padding: 0px 8px 0px 8px;
    .rs-card-title {
        font-size: 16px;
    }
}

.rs-disable {
    color: dark;
}

h2 {
    padding: 0px;
    margin: 0px;
}

ion-app.cameraView,
ion-app.cameraView ion-content,
ion-app.cameraView .nav-decor {
    background: transparent none !important;
}