<ion-header>
    <rs-toolbar title="Multas"></rs-toolbar>
</ion-header>

<ion-content>

    <ion-content padding-top [auto-hide]="toHide">
        <ion-card class="rs-card" *ngFor="let multa of multas">
            <ion-row>
                <ion-col col-12 class="rs-card-title">
                    {{ multa.description }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <p>{{ multa.dateExpiration | date:'short' }}</p>
                </ion-col>
            </ion-row>

            <ion-row justify-content-end>
                <ion-col col-9 padding-top>
                    <h1 disabled>
                        {{ multa.amount | currency }}
                    </h1>
                </ion-col>
                <ion-col col-3>
                    <button *ngIf="!multa.paid" ion-button clear (click)="goPayMulta(multa)">Pagar</button>
                    <button *ngIf="multa.paid" ion-button clear color="accent">Detalle</button>
                </ion-col>
            </ion-row>

            <ion-row justify-content-end *ngIf="multa.paid">
            </ion-row>

        </ion-card>

    </ion-content>


    <div class="bottom-content" #toHide>
        <button ion-button block large color="primary" class="elevation-1" (click)="goPayMulta()">
            Pagar &nbsp;
            <ion-badge color="accent" item-end>{{ amountToPay | currency }}</ion-badge>
        </button>
    </div>

</ion-content>