<ion-header>
    <ion-navbar color="accent" class="elevation-1">
        <ion-title>Pagar multa</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-item *ngFor="let multa of multas">
            <ion-label>
                <h2>{{ multa.description }}</h2>
            </ion-label>
            <ion-checkbox checked="true"></ion-checkbox>
        </ion-item>
    </div>
    <div>
        <ion-card class="animated fadeInRight" style="height: 100px;">
            <img src="../../assets/imgs/map.png" style="margin-top: -90px;">
        </ion-card>
    </div>
    <div>
        <ion-card *ngFor="let multa of multas; let i = index;" class="animated fadeInRight" [style]="'animation-delay:'+ i*100 + 'ms' | styleSafe">
            <ion-card-header>
                Detalle
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col col-5><b>Cantidad</b></ion-col>
                    <ion-col col-7>{{ multa.amount | currency }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5><b>Fecha: </b></ion-col>
                    <ion-col col-7>{{ multa.dateEmit | date:'d/M/yyyy' }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5><b>Vencimiento:</b></ion-col>
                    <ion-col col-7>{{ multa.dateExpiration | date:'d/M/yyyy' }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5><b>Estatus:</b></ion-col>
                    <ion-col col-7>
                        <ion-badge *ngIf="!multa.paid">Por pagar</ion-badge>
                        <ion-badge *ngIf="multa.paid">Pagada</ion-badge>
                    </ion-col>
                </ion-row>
                <!-- <ion-row>
                    <ion-col col-5><b>Marca:</b></ion-col>
                    <ion-col col-7>Nissan</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5><b>Modelo:</b></ion-col>
                    <ion-col col-7>Versa</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-5><b>Placas:</b></ion-col>
                    <ion-col col-7>YMP-2579</ion-col>
                </ion-row> -->
            </ion-card-content>
        </ion-card>
    </div>

    <ion-fab right bottom class="animated fadeInDown">
        <button ion-fab color="primary">
            Pagar
            <!-- <ion-icon name="logo-usd"></ion-icon> -->
        </button>
    </ion-fab>
</ion-content>